header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: #121212;
  color:beige;
  padding: 20px 30px;
}
h1{
  color:aquamarine;
}

ul{
  list-style: none;
  display: flex;
  align-items: center;
  margin-left: 20px;
}

li{
  font-size: 20px;
}

li + li{
  margin-left: 20px;
}

a{
  text-decoration: none;
  color: beige;
  transition: filter .2s;
}
a:hover{
  filter: brightness(0.8);
}
